{
  "extends": ["prettier", "eslint:recommended"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "mocha": true,
    "amd": true
  },
  "parserOptions": {
      "ecmaVersion": 2018
  },
  "rules": {
    "max-len": ["error", {"code": 90}],
    "global-require": 0,
    "no-console": "error",
    "prefer-arrow-callback": "error",
    "max-lines-per-function": ["error", { "max": 30}],
    "max-depth": ["error", 4],
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": false,
        "singleQuote": true,
        "semi": false,
        "arrowParens": "always",
        "trailingComma": "none"
      }
    ],
    "array-bracket-spacing": [2, "never"],
    "comma-dangle": [
      "error",
      {
        "arrays": "ignore",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "linebreak-style": ["error", "unix"],
    "object-curly-spacing": ["error", "never"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"]
  },
  "overrides": [
    {
      "files": ["*.spec.js"],
      "rules": {
        "max-lines-per-function": "off"
      }
    }
  ],
  "globals": {
    "expect": true
  }
}
